.chat-bot-container{
    width: 100vw;
    max-width: 400px;
    margin-left: auto;    
}

.chat-btn-container{
    display: flex;
    justify-content: flex-end;
    right: 10px;
    position: fixed;
    bottom: 0px;
    .chat-btn{
        margin-top: 10px;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, var(--secondary-background-color), var(--secondary-background-darker));
        border: none;
        box-shadow: 1px 2px 8px 1px grey;
        margin-bottom: 10px;
    }
}

.bottom-to-top{
    position: relative;
    animation: bottomtop 2s;
}

@keyframes bottomtop{
    from{
        bottom: -1000px;
    } 
    to{
        bottom: 0px;
    }
}

@media screen and (max-width:568px){
    .chat-bot-container{
        max-width: 568px;
    }
}
