.chat-bot-container{
    width: 100vw;
    max-width: 400px;
    margin-left: auto;    
}

.chat-container{
    position: absolute;
    right: 0px;
    bottom: 80px;
}

.chat-btn-container{
    display: flex;
    justify-content: flex-end;
    right: 10px;
    position: fixed;
    bottom: 0px;
    .chat-btn{
        margin-top: 10px;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, var(--secondary-background-color), var(--secondary-background-darker));
        border: none;
        box-shadow: 1px 2px 8px 1px grey;
        margin-bottom: 10px;
    }
}

.bottom-to-top{
    position: relative;
    animation: bottomtop 2s;
    // right: 5px;
}

.intro-section{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 1.5rem;
    line-height: 1.4;
    background: orange;
    color: white;
    flex-flow: column;
}

@keyframes bottomtop{
    from{
        bottom: -1000px;
    } 
    to{
        bottom: 0px;
    }
}

@media screen and (max-width:568px){
    .chat-bot-container{
        max-width: 568px;
        position: relative;
        height: 100vh;
    }

    .chat-container{
        bottom: 0;
        right: 0px;
    }

    .intro-section{
        font-size: 1.1rem;
    }
}
