.message-container{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
    border: 1px solid #dede;
    p{
        margin: 0;
    }

    .timestamp{
        text-align:right;
    }
}

.user-message{
    background: orange;
    text-align: right;
    width: 80%;
    margin-left: auto;
}

.system-message{
    background: #f28e5d;
    width: 80%;
}

.question-css{
    color: #f28e5d;
    border: 1px solid;
    border-color: #f28e5d;
    background: transparent;
    width: 60%;
    margin: auto;
}