<div style="height: 45vh;position: relative;">

    <div *ngIf="showAllMessages?.length" style="overflow-y: scroll;position: relative;height: 80%;">
        <div *ngFor="let message of showAllMessages" >
            <div *ngIf="message.myMessage" style="margin-bottom: 5px;" >
                <app-show-message [message] = "message" (passSelectedMessage) = "processSelectedMessage($event)" ></app-show-message>
            </div>

            <div *ngIf="!message.myMessage" style="margin-bottom: 5px;" >
                <app-show-message [message] = "message" (passSelectedMessage) = processSelectedMessage($event) ></app-show-message>
            </div>
        </div>
    </div>

    <div class="user-message-container">
        <div class="input-container">
            <input type="text" [(ngModel)]="newmessage" placeholder="Send Message...." (keyup.enter)="sendMessage()">  
        </div>
        <div>
            <button (click)="sendMessage()" class="send-msg-btn"> Send </button>
        </div>
    </div>
</div>

